<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaGigaOglasi</title>
</head>

<body>

    <a href="/"><h1 style="position: relative; left:1%;"><img src="/img/text.gif" alt="logo gif"  ></h1></a> 
    <h3 style="left:1%">Pocetna</h3>
    <hr>
    <!-- izmeniti ove linkove  -->
        <input type="button" value="Dodaj novi Oglas" onclick="window.location.href=`http://localhost:5000/dodajOglas`;">
        <input type="button" value="Pogledaj oglase" onclick="window.location.href=`http://localhost:5000/sviOglasi`;">
    <hr>
    
    
</body>
<script>

   
   
</script>

</html>