<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocetna</title>
</head>

<body>

    <h1 style="text-align: center;">Svi oglasi</h1>
    <hr>
    <table id="oglasi" cellpadding="10px">
        <thead>
            <th><h3>Tekst</h3></th>
            <th><h3>Kategorija</h3></th>
            <th><h3>Datum isteka</h3></th>
            <th><h3>Cena</h3></th>
            <th><h3>Oznake</h3></th>
            <th><h3>Email</h3></th>
        </thead>
        <tbody>
            #{data}
        </tbody>
    </table>
</body>
<script>

   
   
</script>

</html>