<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izmeni Ogla</title>
</head>

<body>
    <a href="/"><h1 style="position: relative; left:1%;"><img src="/img/text.gif" alt="logo gif"  ></h1></a> 
    <h3 style="left:1%">Izmeni</h3>
    <hr>

    <!-- <input type="button" value="Dodaj novi oglass" onclick="window.location.href=`http://localhost:5000/dodajOglas`;"> -->
    <input type="button" value="Vrati se na pocetnu" onclick="window.location.href=`http://localhost:5000/`;">
    <hr>
    <div id="divForma">
        <form action="/snimiOglas" method="post">
            <label for="Kategorija">Kategorija</label>
            <select name="Kategorija">
                <option value="Automobili">Automobili</option>
                <option value="Stanovi">Stanovi</option>
                <option value="Alat">Alat</option>
                <option value="Kompjuteri i delovi">Kompjuteri i delovi</option>
                <option value="Konzole i igrice">Konzole i igrice</option>
                <option value="Audio i video oprema">Audio i video oprema</option>
                <option value="Odeca">Odeca</option>
            </select>
            <br>
            <label for="Datum">Datum</label><input type="date" name="Datum">
            <br>
            <label for="CenaVrednost">Cena</label><input type="number" name="CenaVrednost">
            <select name="CenaValuta">
                <option value="rsd">rsd</option>
                <option value="eur">eur</option>
                <option value="usd">usd</option>
            </select>
            <br>
            <label for="Tekst">Tekst oglasa</label><input type="text" name="Tekst">
            <br>

            <label for="Oznaka">Oznaka</label><input type="text" name="Oznaka">
            <br>
            <label for="Email">Email</label><input type="text" name="Email"> 
            <!-- <input type="button" value="dodaj jos jedan" onclick="dodajMejl()"> -->
            <br>
            <button type="submit">Sacuvaj Izmene</button>
        </form>
    </div>
</body>
<script>
    // function dodajMejl(){

    // }
</script>
</html>